@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>I.E.D LA PALESTINA</h1>
    @*<p class="lead">Agregar Cursos, agregar materias, asignar roles</p>*@
</div>
@if (Request.IsAuthenticated && User.IsInRole("Administrador"))
{
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
            @*<div class="col-xs-12 col-md-3 col-lg-3">
                <table style="text-align:center">
                    <tr>
                        <th id="Users" style="text-align:center">Usuarios</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Action("Index","AspNetUsers")">
                                <img src="@Url.Content("~/Content/img/Usuario.jpg")" style="width:50%; height:50%"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th id="Courses" style="text-align:center">Cursos</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Action("Index","Courses")">
                                <img src="@Url.Content("~/Content/img/Cursos.png")" style="width:50%; height:50%" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th id="Subjects" style="text-align:center">Materias</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Action("Index","Subjects")">
                                <img src="@Url.Content("~/Content/img/Materias.png")" style="width:50%; height:50%" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th id="Students" style="text-align:center">Estudiantes</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Action("Index","Students")">
                                <img src="@Url.Content("~/Content/img/Estudiantes.jpg")" style="width:50%; height:50%" />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>*@
            <div class="col-xs-12 col-md-12 col-lg-12">
                <center>
                    <div id="carousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                            <li data-target="#carousel" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Content/img/img2.jpeg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/img/img3.jpeg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/img/img4.jpeg" />
                            </div>
                            <div class="item">
                                <img src="~/Content/img/img5.jpeg" />
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            @*<div class="col-xs-12 col-md-3 col-lg-3">
            </div>*@
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $("#carousel").carousel({
            interval: 3000
        });
    </script>
}


