@model IEnumerable<CapaDatos.AspNetUsers>

@{
    ViewBag.Title = "Usuarios";
}


    @*@Html.ActionLink("Crear Usuario", "Register", "Account")*@

<div class="titleform">
    <h2>Usuarios</h2>
    <button id="BtnCreateModalCity" class="btn btn-warning" style="float:right;">Nuevo usuario</button>
</div>
<div class="content">
    <table class="table table-striped">
        <tr>
            <th>
                Email
            </th>
            <th>
                Usuario
            </th>
            <th>
                Primer Nombre
            </th>
            <th>
                Segundo Nombre
            </th>
            <th>
                Primer Apellido
            </th>
            <th>
                Segundo Apellido
            </th>
            <th>
                Tipo Documento
            </th>
            <th>
                Documento
            </th>
            <th></th>
        </tr>

        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }*@
    </table>
</div>

