@model CapaDatos.Courses

@{
    ViewBag.Title = "Delete";
}


<h3>¿Desea eliminar este curso?</h3>
@*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-right">
                <button id="btnDeleteCourse" type="submit" class="btn btn-primary"><span>Eliminar</span></button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">Cancelar</button>
            </div>
        </div>

        @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
            </div>*@
    </div>
}
