@model CapaDatos.Students

@{
    ViewBag.Title = "Eliminar Estudiante";
}

<h2>Eliminar Estudiante</h2>

<h3>¿Esta seguro que desea eliminar este estudiante?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Names)
        </dd>

        <dt>
            Apellidos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surnames)
        </dd>

        <dt>
            Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            Acudiente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.FullName)
        </dd>

        <dt>
            Curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.Description)
        </dd>

        <dt>
            Tipo documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
