@model IEnumerable<CapaDatos.Students>

@{
    ViewBag.Title = "Estudiantes";
}

<h2>Estudiantes</h2>

<p>
    @Html.ActionLink("Crear Estudiante", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Tipo Documento
        </th>
        <th>
            Documento
        </th>
        <th>
            Curso
        </th>
        <th>
            Acudiente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Names)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surnames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Courses.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.FullName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdStudent }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.IdStudent }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdStudent })
        </td>
    </tr>
}
</table>
