@model IEnumerable<CapaDatos.Lack>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Justification.IdLack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.Names)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subjects.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Justification.IdLack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.Names)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subjects.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLack }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLack }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLack })
        </td>
    </tr>
}

</table>
