@model IEnumerable<CapaDatos.News>

@{
    ViewBag.Title = "Novedad";
}


<h2>Inicio</h2>
<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdNews }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdNews }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdNews }) |
                @Html.ActionLink("Enviar", "SendEmail", new { description = item.Description, Date = item.Date }) |
            </td>
        </tr>
    }
</table>
<input id="Button" type="button" value="Enviar" />




