@model IEnumerable<CapaDominio.News>

<div class="titleform">
    <h2>Novedades</h2>
    <p>
        <a data-modal='' href="@Url.Action("Create", "News")" title="Crear">
            <input type="submit" class="btn btn-primary" style="float:right;" value="Nueva novedad">
        </a>
    </p>
    <br />
    <br />
    <div class="modal fade" data-keyboard="false" id="NewsModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id='myModalContent'>
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        @if (User.IsInRole("Administrador"))
        {
            <th>
                Curso
            </th>
        }
        <th>
            Descripción
        </th>
        <th>
            Creada por
        </th>
        <th>
            Último Envío
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("Administrador"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Courses.Description)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.LastSend))
            </td>
            <td>
                @if (User.IsInRole("Administrador") && item.IdCourse == null)
                {
                    <a data-modal='' href="@Url.Action("Edit", "News", new { id = item.IdNews })" data-id="@item.IdNews" id="@item.IdNews " title="Editar">
                        <input type="submit" class="btn btn-primary" value="Editar">
                    </a>
                }
                @if (User.IsInRole("Docente") && item.IdCourse != null)
                {
                    <a data-modal='' href="@Url.Action("Edit", "News", new { id = item.IdNews })" data-id="@item.IdNews" id="@item.IdNews " title="Editar">
                        <input type="submit" class="btn btn-primary" value="Editar">
                    </a>
                }
                @if (User.IsInRole("Administrador"))
                {
                    <a data-modal='' href="@Url.Action("Delete", "News", new { id = item.IdNews })" data-id="@item.IdNews" id="@item.IdNews" title="Eliminar">
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </a>
                }
                @if (User.IsInRole("Docente") && item.IdCourse != null)
                {
                    <a data-modal='' href="@Url.Action("SendNew", "News", new { id = item.IdNews })" data-id="@item.IdNews" id="@item.IdNews" title="Enviar Novedad">
                        <input type="submit" class="btn btn-info" value="Envíar">
                    </a>
                }
                @if (User.IsInRole("Administrador") && item.IdCourse == null)
                {
                    <a data-modal='' href="@Url.Action("SendNew", "News", new { id = item.IdNews })" data-id="@item.IdNews" id="@item.IdNews" title="Enviar Novedad">
                        <input type="submit" class="btn btn-info" value="Envíar">
                    </a>
                }

            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/news")
}

