@model PagedList.IPagedList<CapaDatos.Schedule>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Horarios";
}

<h2>Horarios</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
@using (Html.BeginForm("Index", "Schedules", FormMethod.Post))
{
    <table class="table" border="0" style="width:auto">
        <tr>
            <th>
                <label style="align-content:center">Docente</label>
            </th>
            <th>
                <label style="align-content:center">Curso</label>
            </th>
            <th>
                <label style="align-content:center">Día</label>
            </th>
            <th>
                <label style="align-content:center">Materia</label>
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("IdTeacher", null, "Seleccione", htmlAttributes: new { @id = "IdTeacher", @class = "form-control" })
            </td>
            <td>
                @Html.DropDownList("IdCourse", null, "Seleccione", htmlAttributes: new { @id = "IdCourse", @class = "form-control" })
            </td>
            <td>
                @Html.DropDownList("IdDay", null, "Seleccione", htmlAttributes: new { @id = "IdDay", @class = "form-control" })
            </td>
            <td>
                @Html.DropDownList("IdSubject", null, "Seleccione", htmlAttributes: new { @id = "IdSubject", @class = "form-control" })
            </td>
            <td>
                <button id="Buscar" value="Buscar">Buscar</button>
                @*<input id="Buscar" type="button" value="Buscar" />*@
            </td>
        </tr>
    </table>
    @*<a href="javascript:void(0)" class="btn-sm js-show-view-btn btn btn-inverse" data-id="$(" #Consulta").val()">Filtrar</a>*@
}
<table class="table">
    <tr>
        <th>
            Hora desde
        </th>
        <th>
            Hora hasta
        </th>
        <th>
            Docente
        </th>
        <th>
            Curso
        </th>
        <th>
            día
        </th>
        <th>
            Materia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HourFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects.name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        var IdTeacher = $('#IdTeacher').val();
        var IdCourse = $('#IdCourse').val();
        var IdDay = $('#IdDay').val();
        var IdSubject = $('#IdSubject').val();
        $("Buscar").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("../Schedules/Index")',
                data: JSON.stringify({ IdTeacher: IdTeacher, IdCourse: IdCourse, IdDay: IdDay, IdSubject: IdSubject }),
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            });
		})
    </script>
}
