@model PagedList.IPagedList<CapaDominio.Subjects>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Materias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="titleform">
    <h2>Materias</h2>
    <a data-modal='' href="@Url.Action("Create", "Subjects")" title="Crear">
        <input type="submit" class="btn btn-primary" style="float:right;" value="Nueva Materia">
    </a>
</div>
<br /><br />
<div class="modal fade" data-keyboard="false" id="SubjectModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id='myModalContent'>
                    <div class="form-group">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        @using (Html.BeginForm("Index", "Subjects", FormMethod.Post))
        {
            <table class="table" border="0" style="width:auto">
                <tr>
                    <th>
                        <label style="align-content:center">Nombre</label>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", autocomplete = "off" })
                    </td>
                    <td>
                        <button id="btnBuscar" value="Buscar" class="btn btn-primary">Buscar</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <table class="table" id="tableSubjects">
            <tr>
                <th>
                    Nombre
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    
                    <td>
                        <a data-modal='' href="@Url.Action("Edit", "Subjects", new { id = item.IdSubjects })" data-id="@item.IdSubjects" id="@item.IdSubjects " title="Editar">
                            <input type="submit" class="btn btn-primary" value="Editar">
                        </a>
                        <a data-modal='' href="@Url.Action("Delete", "Subjects", new { id = item.IdSubjects })" data-id="@item.IdSubjects" id="@item.IdSubjects " title="Eliminar">
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </a>
                    </td>
                </tr>
            }
        </table>
        <br />
        <center>
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </center>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/subjects")
}

