@model CapaPresentacion.Models.novedades

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>novedades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso_de_novedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso_de_novedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_solucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_solucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombres)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
