@model IEnumerable<CapaPresentacion.Models.novedades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso_de_novedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_solucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarios.nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso_de_novedad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_solucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarios.nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
